bin/
obj/
/packages/
**/bin/
**/obj/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
ServerSyncModTemplate.sln.DotSettings.user
*.log
*.zip
*.DotSettings.user
.tmp_*/
.tmp_*
tmp_*/
tmp_*
temp_*
tempdecomp/
dropthat_decomp/
jewelcrafting_decomp.cs
serversync_*.cs
expand_spawns*.yml
expand_spawns*.yaml
RtDMonstrumCompatPatcher/
preprocessed.xml
